/* pc */
@media screen and (min-width: 992px) {
  .header__contact,
  .header__nav {
    display: flex;
    align-items: center;
  }

  .header__logo {
    margin-left: auto;
    margin-right: 22.3rem;
  }

  .brand__icon--box {
    display: grid;
    grid-template-columns: 108px 200px 206px 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-auto-columns: 1fr;
    gap: 34px 36px;
    grid-auto-flow: row;
    justify-items: stretch;
    grid-template-areas:
      ". . . ."
      ". . . .";
    width: 713px;
    height: 106px;
  }

  .hero__img {
    width: 51.4rem;
    height: 70.5rem;
  }

  .header__nav--mb,
  .toggle__menu,
  .icon-email-mb {
    display: none;
  }

  .hero__text {
    margin-top: 18.1rem;
    padding-left: 7rem;
  }

  .hero__title {
    width: 50rem;
    height: 16.4rem;
    color: #080415;
    font-size: 8rem;
    font-weight: 500;
    line-height: 7.6rem; /* 95% */
    letter-spacing: -0.32rem;
    margin-bottom: 2rem;
  }

  .hero__desc {
    width: 37rem;
    color: #51586a;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem; /* 166.667% */
    margin-bottom: 5rem;
  }

  .hero__decor--bg01 {
    position: absolute;
    width: 43.94%;
    height: 61.8063rem;
    transform: rotate(0deg);
    bottom: 63px;
    scale: 1.2;
    translate: 12rem;
  }

  .brand__icon--ml25px {
    margin-left: 2.5rem;
  }

  .brand__icon--ml30px {
    margin-left: 3rem;
  }

  .brand__separate {
    width: 8.6rem;
    height: 0.1rem;
    background: #5d3bee;
    margin: 2rem 1.3rem 0rem 0rem;
  }

  .service__desc {
    width: 53.4rem;
  }

  .work__title {
    color: #fff;
    width: 46.8rem;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 6.6rem; /* 117.857% */
    letter-spacing: -0.224rem;
  }

  .work__desc {
    width: 37rem;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem; /* 166.667% */
    opacity: 0.7;
  }
}

/* tablet and mobile */
@media screen and (max-width: 991.98px) {
  .service__text--box {
    width: 100vw;
  }
}

/* tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
}

/* mobile */
@media screen and (max-width: 767.98px) {
  .header__inside {
    padding: 0;
    height: 8.95rem;
  }

  .header__contact,
  .header__nav {
    display: none;
  }

  .header__logo {
    width: 3.7rem;
  }

  .icon-email-mb {
    margin-left: auto;
    margin-right: 1rem;
  }

  .mb_nav--separate {
    max-width: calc(100% - 14px);
    height: 0.1rem;
    background: rgba(0, 0, 0, 0.1);
    margin: 0 auto;
  }

  .menu__overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }

  .mobile__header input:checked ~ .menu__overlay {
    opacity: 1;
    visibility: visible;
  }

  .menu__drawer {
    position: fixed;
    padding: 2rem;
    inset: 0 0 0 17%;
    background: #fff;
    z-index: 2;
    transform: translateX(100%);
    transition: all 0.3s ease;
  }

  .header__nav--item {
    width: calc(100% - -7px);
  }

  .mobile__header input:checked ~ .menu__drawer {
    transform: translateX(0);
  }

  .header__nav--mb {
    display: flex;
    flex-direction: column;
  }

  .brand__icon--box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-auto-columns: 1fr;
    gap: 36px 0px;
    grid-auto-flow: row;
    justify-items: stretch;
    grid-template-areas:
      ". ."
      ". ."
      ". ."
      ". .";
    width: 352px;
  }

  .hero__inside {
    position: relative;
  }

  .hero__img {
    width: 25.9rem;
    height: 35.5rem;
    margin-left: 6.4rem;
  }

  .hero__text {
    padding-left: 0;
    margin-top: 5.05rem;
  }

  .hero__title {
    width: 26rem;
    font-size: 4.2rem;
    font-weight: 500;
    line-height: 5rem; /* 119.048% */
    letter-spacing: -0.168rem;
    margin-bottom: 2rem;
  }

  .hero__desc {
    width: 31.8rem;
    margin-bottom: 3rem;
    color: #51586a;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.6rem; /* 162.5% */
  }

  .hero__decor--bg02 {
    display: none;
  }

  .hero__decor--bg01 {
    position: absolute;
    scale: 3;
    margin-left: 12rem;
    width: 43.94%;
    bottom: 145px;
  }

  .brand__text--box {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 4.2rem;
  }

  .brand__icon--ml30px,
  .brand__icon--ml25px {
    margin-left: 0;
  }

  .brand__order--1 {
    order: 1;
  }

  .brand__order--2 {
    order: 2;
  }

  .brand__order--3 {
    order: 3;
  }

  .brand__order--4 {
    order: 4;
  }

  .brand__order--5 {
    order: 5;
  }

  .brand__order--6 {
    order: 6;
  }

  .brand__order--7 {
    order: 7;
  }

  .brand__order--8 {
    order: 8;
  }

  .brand__separate {
    width: 8.6rem;
    height: 0.2rem;
    background: #5d3bee;
    margin-top: 2rem;
  }

  .service__desc {
    width: 35rem;
    color: #51586a;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.6rem; /* 162.5% */
  }

  .service__inner {
    margin-bottom: 1rem;
  }

  .work__title {
    color: #fff;
    text-align: center;
    font-size: 3.6rem;
    font-weight: 500;
    line-height: 4.2rem; /* 116.667% */
    letter-spacing: -0.144rem;
    width: 30rem;
    margin-left: 3.4rem;
  }

  .work__desc {
    width: 35rem;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.6rem; /* 162.5% */
    margin-left: 1rem;
  }
}
